{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
cadastrar usuário
{% endblock %}

{% block content%}
    
    <div class="col-12">
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
          {% endfor %}
        </div> 
        
        <script>
          var timeout = 4000;
    
          setTimeout(function() {
            var messages = document.querySelector('.messages');
            if (messages) {
              messages.style.opacity = '0';
              setTimeout(function() {
                messages.style.display = 'none';
              }, 4000);
            }
          }, timeout);
        </script>
    {% endif %}


        <div class="box-title">
            <h1 class="title">Cadastrar usuario</h1>
        </div>
        <form method="post"> {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Cadastrar"%}
            {% comment %} <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" name="username">
            </div>
            
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="E-mail" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email">
            </div>

            <div class="input-group mb-3">
                <input type="password" class="form-control" aria-label="Default" placeholder="Senha" aria-describedby="inputGroup-sizing-default" name="password" >
            </div> 
            
            <button type="submit" class="btn btn-primary">Cadastrar</button> {% endcomment %}
        </form>
    </div>
    
{% endblock %}