{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styleUser.css' %}">
    <title>Login</title>
  </head>
  <body>
    <div class="container-login">
        <div class="box">
            <div class='div-img'>
                <img src="{% static 'img/logo.png' %}" class="img-logo" alt="imagem">
            </div>
            <div class="title-login">
                <h1 class="title">Login</h1>
            </div>
            
            <form method="post"> {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="username" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" name="username" >
                </div>

                
                <div class="input-group mb-3">
                    <input type="text" class="password" aria-label="Default" placeholder="Senha" aria-describedby="inputGroup-sizing-default" name="password">
                </div> 
                
                <button type="submit" class="btn-login">Login</button>
            </form>
        
        </div>
    </div>
    
  </body>
</html>