{% extends 'C:\Users\willyam cutrim\gerenciamento_de_pedidos\pedidos\templates\base.html' %}

{% block title %}
Usuários
{% endblock %}

{% block content%}
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome de usuário</th>
          <th scope="col">E-mail</th>
          <th scope="col">Data da criação</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users%}
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.date_joined}}</td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <a href="{% url 'cadastrar-usuario' %}" class="btn btn-primary btn-sm">Cadastrrar usuário</a>
  </div>
{% endblock %}