{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
Pedido - {{pedido_detalhe.nome_do_cliente}}
{% endblock %}

{% block content%}
  <div class="col-12">
    <a href="{% url 'index' %}">
      <i class="fas fa-chevron-left fa-sm"></i>
    </a>
    
      <h3 class="mt-2"><strong>Mesa: {{ pedido_detalhe.numero_da_mesa }} - {{pedido_detalhe.nome_do_cliente}}</strong></h3>
      {% if pedido_detalhe.status_de_pagamento == 'pendente'%}
        <div class="card border-left-danger shadow h-100">
      {% else %}
        <div class="card border-left-success shadow h-100">
      {% endif %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id - pedido</th>
              <th scope="col">Pedidos</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">{{pedido_detalhe.pk}}</th>
                <td>{{pedido_detalhe.pedidos}}</td>
                <td>{{pedido_detalhe.valor_da_compra}}</td>
                <form method="post">{% csrf_token %}
                  
                <td>{{form.status_de_pagamento}}</td>
              </tr>
          </tbody>
        </table>
      </div>
          <button type="submit" class="btn btn-success mt-2">Fechar pedido</button>
        </form>
    
  </div>
{% endblock %}




{% comment %} <div class="col-12">
  {% for i in test%}
  <p>{{i.nome_do_cliente}}</p>
  {% endfor %}
  <h3><strong>Mesa: 0{{ pedido_detalhe.numero_da_mesa }}</strong></h3>
  
  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Pedidos</th>
          <th scope="col">Total</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        
          <tr>
            <th scope="row">{{pedido_detalhe.pk}}</th>
            <td>{{pedidos}}</td>
            <td>{{pedido_detalhe.valor_da_compra}}</td>
            
            <form method="post">{% csrf_token %}
            <td>{{form.status_de_pagamento}}</td>
          </tr>
      </tbody>
    </table>
  </div>
      <button type="submit" class="btn btn-success mt-2">Fechar pedido</button>
    </form>
</div> {% endcomment %}