{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Home</title>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="container">
        <h4 class="titleCategory">{{user|upper}}</h4>
        <a href="{% url 'login'%}">Sair</a>
        <h4 class="titleCategory">{{categoria_produto|upper}}</h4>
        <div class="row">
            {% for p in produtos %}
                <div class="card" style="width: 18rem;">
                    <img src="{{p.photo_do_produto.url}}" class="card-img-top" alt="{{p.photo_do_produto}}">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title" value="{{p.nome_do_produto}}" id="nome_ham">{{p.nome_do_produto}}</h5>
                            
                            <h5 class="card-title">R$: {{p.valor_do_produto}}</h5>
                        </div>
                    <p class="card-text">{{p.descricao_do_produto}}</p>
                    <a onclick="addToCartBtnHam()" class="btn btn-primary">Adicionar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <h4 class="titleCategory">{{categoria_refrigerante|upper}}</h4>
        <div class="row">
            {% for r in refrigerante %}
            
                <div class="card" style="width: 18rem;">
                    <img src="{{r.photo_do_produto.url}}" class="card-img-top" alt="{{r.photo_do_produto}}">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title" value="`{{r.id}}" id="nome_ref">{{r.nome_do_produto}}</h5>
                            
                            
                            <h5 class="card-title">R$: {{r.valor_do_produto}}</h5>
                        </div>
                    <p class="card-text">{{r.descricao_do_produto}}</p>
                    <a onclick="addToCartBtnRef()" class="btn btn-primary">Adicionar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <h4 class="titleCategory">{{categoria_suco|upper}}</h4>
        <div class="row">
            {% for s in sucos %}
            {% csrf_token %}
                <div class="card" style="width: 18rem;">
                    <img src="{{s.photo_do_produto.url}}" class="card-img-top" alt="{{s.photo_do_produto}}">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title" value="`{{s.nome_do_produto}}" id="nome_su">{{s.nome_do_produto}}</h5>
                            
                            
                            <h5 class="card-title">R$: {{s.valor_do_produto}}</h5>
                        </div>
                        <p class="card-text">{{s.descricao_do_produto}}</p>
                        <button class="btn btn-primary">Adicionar</button>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>